#topnav {
  background-color: #fffc;
  width: 100%;
  position: relative;
  z-index: 999;
  color: rgb(22, 28, 45);

  ul {
    list-style-type: none;
  }
  
  a {
    color: inherit;
  }

  .navbar-container {
    position: relative;
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
      padding: 15px;

      a {
        width: 100%;
        height: 100%;
        font-size: 32px;
        display: block;
      }
    }

    .navigation {
      
      .navigation-menu {
        display: flex;
        gap: 40px;
        height: 100%;

        li {
          position: relative;
          height: 100%;
          display: flex;
          align-items: center;

          a {
            display: block;
            font-weight: 500;
            line-height: 1.5rem;
            transition: all 0.2s ease;

            &:hover {
              color: rgb(239 68 68);
            }
          }

          a.active {
            color: rgb(239 68 68);

            &:hover {
              color: rgb(22, 28, 45);
            }
          }
        }
        
      }
    }

    .profile {
      display: flex;
      align-items: center;
      position: relative;

      .user {
        width: 32px;
        height: 32px;
        cursor: pointer;
        

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border:1px solid rgb(239 68 68);
        }

        .user-submenu {
          position: absolute;
          top: 100%;
          right: -5rem;
          display: none;
          flex-direction: column;
          text-wrap: nowrap;
          align-items: flex-start;
          background-color: #fff;
          border: 0 solid #e5e7eb;
          padding-block: .5rem;
          border-radius: .375rem;
          background-color: #fff;
          width: 12rem;

          li {
            width: 100%;

            a {
                display: flex;
                gap: 5px;
                align-items: center;
                padding: .5rem 1rem;
                color: rgb(22 28 45);

                &:hover {
                  color: rgb(239 68 68);
                }
            }
          }
        }
        .user-submenu.open, input.open {
          display: flex;
        }
      }
    }
  }
}

