.hero {
  flex: 1;
  overflow: auto;

  .hero-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
  }
}