@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --yellow: #feda6a;
  --light: #d4d4dc;
  --dark-gray: #1d1e22;
  --medium-gray: #393f4d;
  --font1: "DM Sans", sans-serif;
}

* {
  font-family: var(--font1);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
  color: var(--light);
}

a {
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--medium-gray);
  color: var(--light);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--light);
}


