@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --yellow: #feda6a;
  --light: #d4d4dc;
  --dark-gray: #1d1e22;
  --medium-gray: #393f4d;
  --font1: "DM Sans", sans-serif;
}

* {
  font-family: var(--font1);
}

a {
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

button:hover {
  border-color: var(--light);
}


