footer {
  width: 100%;
  background-color  : #fffc;
  color: rgb(22, 28, 45);
  padding: 10px 20px;
  
  ul {
    list-style-type: none;
  }

  a {
    color: inherit;
    transition: all 0.3s ease;

    &:hover {
      color: rgb(239 68 68);
    }
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    h5 {
      font-size: 32px;
      color: inherit;
      margin-bottom: 20px;
    }

    .quick-links {
      width: 100%;
      display: flex;
      justify-content: space-between ;
      align-items: center;

      .logo {
        a {
          font-size: 32px;
          
        }
      }

      button {
        border: 0;
        outline: 0;
        transition: all 0.3s ease;
        padding: 15px;

        &:hover {
          background-color:rgb(239 68 68);
          color: #fffc;
        }
      }

    }
  }
}