.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.hero {
  width: 100%;
  flex: 1;  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding-inline: 20px;

  .hero-container {
    height: 100%;
    padding-block: 10px;
    width: 80%;
    max-width: 1200px;
  }
}