@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --yellow: #feda6a;
  --light: #d4d4dc;
  --dark-gray: #1d1e22;
  --medium-gray: #393f4d;
  --font1: "DM Sans", sans-serif;
}

* {
  font-family: var(--font1);
}

a {
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-weight: 500;
  cursor: pointer;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
}

.phone-input-container input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  background-color: white;
  color: black;
  outline: none;
}

.phone-input-container input:focus {
  ring: 2px;
  ring-color: #3b82f6;
  border-color: #3b82f6;
}

.dark .phone-input-container input {
  background-color: #374151;
  border-color: #4b5563;
  color: white;
}

.phone-input-container select {
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.dark .phone-input-container select {
  background-color: #374151;
  border-color: #4b5563;
  color: white;
}
