.blog-card {
  max-width: 60%;
  padding: 20px;
  // text-align: center;
  
  .blog-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.5;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  .blog-body {
    font-size: 1rem;
    color: #bcbcbc;
    margin-bottom: 15px;
  }

  .blog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .blog-tags {
      display: flex;

      .blog-tag {
        background-color: #e0e0e0;
        color: #333;
        border-radius: 15px;
        padding: 5px 10px;
        margin-right: 5px;
        font-size: 0.875rem;
      }
    }

    .blog-reactions {
      font-size: 0.875rem;
      color: #777;

      .likes,
      .dislikes,
      .views {
        margin-left: 10px;
      }
    }
  }
}